<style>
	* {
		box-sizing: border-box;
	}
	body {
		margin-top: 0;
		margin-bottom; 0px;
	}
	.header {
		background-color: #f0fff0;
		padding: 1.5em;
		color: lightsteelblue;
		border: 1px solid #f0fff0;
		text-align: center;
		font-size: 1.5em;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	}
	h1 {
		font-weight: initial;
	}
	.navbar {
		background-color: #f0fff0;
		text-align: center;
	}
	.navbutton {
		display: inline-block;
		padding: 0.5em 0.9em;
		border: 4px solid lightblue;
		margin: 0.25em;
		text-decoration: none;
		color: gray;
		cursor: pointer;
		border-radius: 3px;
	}
	.navbutton:hover {
		color: black;
		opacity: 0.6;
	}
	a:focus {
		border: 4px solid #4fabc9;
		background-color: rgba(173,216,230,0.4);
		color: gray;
		font-weight: bold;
	}
	.section1 { 
		background-color: olivedrab;
		text-align: center;
		padding: 5em 2em;
	}
	.fa::before {
		font-size: 2.5em;
	}
	.fa::after {
		content: '';
		box-shadow: 0 0 0 4px #fff;
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 50%;
		opacity: 0;
		left: -7px;
		top: -7px;
		padding: 7px;
		box-sizing: content-box;
		transition: transform 0.2s, opacity 0.2s;
		transform: scale(0.8);
	}
	.section1 .fa {
		background: rgba(255, 255, 255, 0.1);
		font-size: large;
		position: relative;
	}	
	.section1 .fa:hover::after {
    opacity: 1;
    transform: scale(1);
	}
	.fa {
		padding: 1.4em 1.4em;
		margin: 0.8em;
		cursor: pointer;
		border-radius: 50%;
	}
	.fa:hover {
		background-color: white;
	}
</style>
